---
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cercle Nautique de France</title>
  </head>
  <body>
    <main>
      <h1>Cercle Nautique de France</h1>
      <p>L'aviron aux portes de Paris</p>
    </main>
  </body>
</html>
